# Logs
log/*.log

# Dependency directories
node_modules/

# Fichier de config
config/development.json
config/production.json

.vscode/

dist

# Fichiers uploadés
public/data/actualites/*/tempoUploads/*
# Archives (récupération du json sur serveur de prod)
public/data/actualites/*/archivesJSON/*

# Fichiers json temporaires
*_TEMP.json

# Autres
SimulServeurProd
JustePourDev

