<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="charset=utf-8"/>
    <title>Accueil des back-offices</title>
    <% include partials/bundleCSS_Accueil %>
    <% include partials/bundleJS_Accueil %>
</head>
<body>
    <div class="masque Hidden"></div>
    <div class="NomUtilisateur">Bienvenue <%= UserName %></div>

    <div>

        <div class="EncartPrincipal fadeInUp">
            <h2>Back-office des catalogues en ligne</h2>
            
             <form id="FormSelectService">
               <div class="WrapSelectService">
                    <select id="SelectBO">
                        <option value="" >Choisissez un catalogue</option>
                        <% data_ListeDeroulante.forEach(function(d){ %> 
                            <option value="<%= d.idCat %>"><%= d.nomCat %></option>
                        <% }) %>
                    </select>
                </div>
                <div id="propositionBackOffices">
                    <div></div>
                </div>
            </form>

            <!--<form method="post" id="FormBOPromos" action="/Promotions/Promotions.aspx" target="Promos">
                <input type="hidden" value="<%//=Identifiant%>" name="User" />
            </form>-->
        </div>

    </div>

</body>
</html>