<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Erreur</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <% include partials/bundleCSS %>
    </head>
    <body>
        <div class="environnement">Environnement : '<%= ENV %>'</div>
        <% include templates/encartErreur %>
    <body>
</html>