
    <div class="BandeauTitreLeft">
        <div class="BandeauTitre_Gauche"></div>
        <div class="BandeauTitreRight">
            <div class="TitreBandeau"><input type="text" id="ChpNew_rubrique"></div>
        </div>
    </div>


    <% include lien_new %>
